body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/************* Header  **************/
.logoContainer {
  padding: 0;
  margin: 0;
  height: 93vh;
}

.logoContainer {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	padding-top: 15vh;
}

#logo {
	height: 50vh;
	width: auto;
}

header {
background-color: #000000;
padding: 0px;
margin: 0px;
}

#gradient {
width: 100%;
height: 95vh;
padding: 0px;
margin: 0px;
}

/*********** Header ends **********/

/*********** Other Header **********/

#otherPageHeader {
	background-color: #C98474;
    padding: 0;
    margin: 0;
    min-height: 20vh;
}


.logoContainerOtherPage {
	display: flex;
	position: absolute;
	top: 1%;
	left: 1%;
}

#logoOtherPage {
	height: 100%;     /*change to %%%%%*/
	width: auto;
	padding: 0;
}

.logoClick {
	height: 18vh;
}

/*********** Other Header ends **********/


/*********** Sidebar ************/

.sideBar {
	background-color: rgba(0, 0, 0, 0.5);;
 	color: white;
  	width: 13%;
  	height: 35px;
	position: absolute;
  	right: -9%;
	display: flex;
	flex-direction: row;
	position:fixed;
}

i {
	color: white;
	padding: 10px 20px;
}

i.open {
	color: #107999;
}

.sideBar a {
	display: flex;
	flex-direction: column;
	padding: 10px 10px;
	color: white;
	font-family: 'Kranky', cursive;
	font-size: 16px;
	text-decoration: none;
}

.sideBar a:visited {
	color: white;
}

.sideBar.open {
	right:0;
}

#slideMenuWakeUp {
	top:20%;
}

#slideMenuBreakfast {
	top:25%;
}

#slideMenuGoToWork {
	top:30%;
}

#slideMenuLunchBreak {
	top:35%;
}

#slideMenuGoingHome {
	top:40%;
}

#slideMenuCookingDinner {
	top:45%;
}

#slideMenuPlayTime {
	top:50%;
}

#slideMenuShowerTime {
	top:55%;
}

#slideMenuBedTime {
	top:60%;
}

/********** sideBar ends *************/

/*********** Menu Line  ***********/
.menuLine {
	display: flex;
	justify-content: space-between;
	padding-left: 30%;
	padding-right: 35%;
	min-height: 50px;
	background-color: white;
}

.about {
	font-family: 'Kranky', cursive;
	font-size: 1.5rem;
	color: #6b5f54;
	padding: 10px 20px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #6b5f54;
}

.mobileMenu {
	display: none;
}

/********************** Shaking Clicks ************************/
.shake {
  display: inline-block;
  transform-origin: center center; }

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused; }

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze, .shake:hover,
.shake-trigger:hover .shake {
  animation-play-state: running; }

@keyframes shake {
  2% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg); }
  4% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg); }
  6% {
    transform: translate(-0.5px, 1.5px) rotate(0.5deg); }
  8% {
    transform: translate(2.5px, 1.5px) rotate(-0.5deg); }
  10% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
  12% {
    transform: translate(2.5px, -1.5px) rotate(-0.5deg); }
  14% {
    transform: translate(0.5px, -0.5px) rotate(1.5deg); }
  16% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
  18% {
    transform: translate(-0.5px, 0.5px) rotate(0.5deg); }
  20% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
  22% {
    transform: translate(-1.5px, -1.5px) rotate(-0.5deg); }
  24% {
    transform: translate(1.5px, -0.5px) rotate(1.5deg); }
  26% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg); }
  28% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg); }
  30% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg); }
  32% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
  34% {
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg); }
  36% {
    transform: translate(-1.5px, 2.5px) rotate(0.5deg); }
  38% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg); }
  40% {
    transform: translate(2.5px, 0.5px) rotate(0.5deg); }
  42% {
    transform: translate(1.5px, 2.5px) rotate(-0.5deg); }
  44% {
    transform: translate(0.5px, -1.5px) rotate(1.5deg); }
  46% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg); }
  48% {
    transform: translate(-0.5px, -0.5px) rotate(1.5deg); }
  50% {
    transform: translate(2.5px, 1.5px) rotate(1.5deg); }
  52% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg); }
  54% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
  56% {
    transform: translate(0.5px, 1.5px) rotate(0.5deg); }
  58% {
    transform: translate(2.5px, 0.5px) rotate(0.5deg); }
  60% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg); }
  62% {
    transform: translate(0.5px, 1.5px) rotate(0.5deg); }
  64% {
    transform: translate(-0.5px, 0.5px) rotate(-0.5deg); }
  66% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg); }
  68% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
  70% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg); }
  72% {
    transform: translate(-0.5px, 0.5px) rotate(0.5deg); }
  74% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg); }
  76% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg); }
  78% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg); }
  80% {
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg); }
  82% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
  84% {
    transform: translate(0.5px, -0.5px) rotate(1.5deg); }
  86% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg); }
  88% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg); }
  90% {
    transform: translate(2.5px, 0.5px) rotate(-0.5deg); }
  92% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg); }
  94% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  96% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg); }
  98% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake:hover,
.shake-trigger:hover .shake, .shake.shake-freeze, .shake.shake-constant {
  animation-name: shake;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

/********************** Shaking Clicks Ends *********************/


/*********** Menu Line ends  ***********/

/********** Main Contents ***********/

#container {
  height: 100%;  /*body的高度*/
}

.timeline {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: darkgrey;
}

.timelineItem {
	background-color: #ede9de;
	margin: 0.5rem 0;
	width: 100%;
	height: 100vh;
}

img {
	align-items: center;
	width: 40%;
	height: auto;
	padding-top: 10%;
}

#bottomLinks {
	display: flex;
	justify-content: space-between;
}

.links {
	background-color: pink;
	margin: 10px;
	padding: 20px 10px;
}

.rotate {
	font-family: 'Kranky', cursive;
	font-size: 5rem;
	position: absolute;
	left: 20%;
	-webkit-animation:spin 4s linear infinite;
	-moz-animation:spin 4s linear infinite;
	animation:spin 4s linear infinite;
}

  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.rests {
	position: absolute;
	left: 25%;
	font-size: 5rem;
}


/********** Main Contents ends ***********/

/********** Footer *************/

footer {
	margin: 0;
	padding-top: 5%;
	align-items: center;
}

.copyright {
	text-align: center;
}

.footerBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
    width: 100%;
    height: 10vh;
    align-items: center;
}

/********************** Footer Swing ************************/
footer {
background: #bd9470;
font-family: 'Barrio', cursive;
font-size: 2rem;
}

.footerContainer {
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
height: 10vh;
align-items: center;
}

.swing div {
border-radius: 50%;
float: left;
height: 1em;
width: 1em;
}
.swing div:nth-of-type(1) {
background: -webkit-linear-gradient(left, #385c78 0%, #325774 100%);
background: linear-gradient(to right, #385c78 0%, #325774 100%);
}
.swing div:nth-of-type(2) {
background: -webkit-linear-gradient(left, #325774 0%, #47536a 100%);
background: linear-gradient(to right, #325774 0%, #47536a 100%);
}
.swing div:nth-of-type(3) {
background: -webkit-linear-gradient(left, #4a5369 0%, #6b4d59 100%);
background: linear-gradient(to right, #4a5369 0%, #6b4d59 100%);
}
.swing div:nth-of-type(4) {
background: -webkit-linear-gradient(left, #744c55 0%, #954646 100%);
background: linear-gradient(to right, #744c55 0%, #954646 100%);
}
.swing div:nth-of-type(5) {
background: -webkit-linear-gradient(left, #9c4543 0%, #bb4034 100%);
background: linear-gradient(to right, #9c4543 0%, #bb4034 100%);
}
.swing div:nth-of-type(6) {
background: -webkit-linear-gradient(left, #c33f31 0%, #d83b27 100%);
background: linear-gradient(to right, #c33f31 0%, #d83b27 100%);
}
.swing div:nth-of-type(7) {
background: -webkit-linear-gradient(left, #da3b26 0%, #db412c 100%);
background: linear-gradient(to right, #da3b26 0%, #db412c 100%);
}
.shadow {
clear: left;
padding-top: 1.5em;
}
.shadow div {
-webkit-filter: blur(1px);
filter: blur(1px);
float: left;
width: 1em;
height: .25em;
border-radius: 50%;
background: #e3dbd2;
}
.shadow .shadow-l {
background: #d5d8d6;
}
.shadow .shadow-r {
background: #eed3ca;
}
@-webkit-keyframes ball-l {
0%, 50% {
  -webkit-transform: rotate(0) translateX(0);
  transform: rotate(0) translateX(0);
}
100% {
  -webkit-transform: rotate(50deg) translateX(-2.5em);
  transform: rotate(50deg) translateX(-2.5em);
}
}
@keyframes ball-l {
0%, 50% {
  -webkit-transform: rotate(0) translate(0);
  transform: rotate(0) translateX(0);
}
100% {
  -webkit-transform: rotate(50deg) translateX(-2.5em);
  transform: rotate(50deg) translateX(-2.5em);
}
}
@-webkit-keyframes ball-r {
0% {
  -webkit-transform: rotate(-50deg) translateX(2.5em);
  transform: rotate(-50deg) translateX(2.5em);
}
50%,
100% {
  -webkit-transform: rotate(0) translateX(0);
  transform: rotate(0) translateX(0);
}
}
@keyframes ball-r {
0% {
  -webkit-transform: rotate(-50deg) translateX(2.5em);
  transform: rotate(-50deg) translateX(2.5em);
}
50%,
100% {
  -webkit-transform: rotate(0) translateX(0);
  transform: rotate(0) translateX(0)
}
}
@-webkit-keyframes shadow-l-n {
0%, 50% {
  opacity: .5;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
100% {
  opacity: .125;
  -webkit-transform: translateX(-1.57em);
  transform: translateX(-1.75em);
}
}
@keyframes shadow-l-n {
0%, 50% {
  opacity: .5;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
100% {
  opacity: .125;
  -webkit-transform: translateX(-1.75);
  transform: translateX(-1.75em);
}
}
@-webkit-keyframes shadow-r-n {
0% {
  opacity: .125;
  -webkit-transform: translateX(1.75em);
  transform: translateX(1.75em);
}
50%,
100% {
  opacity: .5;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
}
@keyframes shadow-r-n {
0% {
  opacity: .125;
  -webkit-transform: translateX(1.75em);
  transform: translateX(1.75em);
}
50%,
100% {
  opacity: .5;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
}
.swing-l {
-webkit-animation: ball-l .425s ease-in-out infinite alternate;
animation: ball-l .425s ease-in-out infinite alternate;
}
.swing-r {
-webkit-animation: ball-r .425s ease-in-out infinite alternate;
animation: ball-r .425s ease-in-out infinite alternate;
}
.shadow-l {
-webkit-animation: shadow-l-n .425s ease-in-out infinite alternate;
animation: shadow-l-n .425s ease-in-out infinite alternate;
}
.shadow-r {
-webkit-animation: shadow-r-n .425s ease-in-out infinite alternate;
animation: shadow-r-n .425s ease-in-out infinite alternate;
}

/************ Footer ends **************/

/************ About Bobo **************/

#boboDescription {
	font-family: 'Finger Paint', cursive;
	font-size: 6rem;
	width: 100%;
	height: 100vh;
	background-color: pink;
	text-align: center;
	padding-top: 1.5em;

}

#boboDescription h2 em {
	font-size: 8rem;
}

/************ About Bobo end **********/


/************** Moments *************/

#galleryPart {
	min-height:500px;
	width:100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding: 0 10%;
}


.cover {
	background-size: cover;
	background-position: center center;
}

.imageDiv {
	width: 30%;
	margin: 1%;
}

.imageHoverDiv:hover {
	opacity: 0.3;
	background-color: tomato;
}

.imageHoverDiv {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Hover text is hidden by default */
.imageHoverText {
	visibility: hidden;
	color: white;
}

.imageHoverDiv:hover .imageHoverText {
	visibility: visible;
}





/************ Moments ends **********/


/************** @Hayley ***************/
html {
	font-size: 14px;
}

#hayleyMain {
	width: 100%;
	height: 100%;
	font-family: 'Kranky', cursive;
	background-color:pink;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}

.contactBobo {
	display: flex;
	justify-content: center;
	text-align: center;
}

.contactBobo h1 {
	font-size: 4rem;
	padding: 1.5em 1.5em;
}

.formSection {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

input[type="text"],
input[type="email"] {
	width: 50%;
	margin-bottom: 10px;
	padding: 0.5em;
	font-weight: lighter;
	font-size: 1em;
	border: 1px solid #443534;
}

textarea {
	width: 50%;
	height: 60px;
	margin-bottom: 10px;
	padding: 0.5em;
	border: 1px solid #443534;
	font-weight: lighter;
	font-size: 1rem;
}

#submitButton {
	margin-top: 30px;
	cursor: pointer;
	text-align: center;
	color: white;
	display: block;
	padding: 1em;
	width: 30%;
	background: tomato;
	font-family: 'Kranky', cursive;
	font-size: 16px;
	box-shadow: none;
	border-radius: 4px;
	border-style: none;
	margin-bottom: 2em;
}

/************* @Hayley ends *************/









/*********** Mobile ************/
/*十五行*/

@media (max-width: 768px) {

/************ header ***************/

	header {
		height: 20vh;
	}

	#gradient {
		height: 24vh;
	}

	.logoContainer {
		display: flex;
		justify-content: center;
		box-sizing: border-box;
		padding: 0;
	}

	.logoContainerOtherPage {
		display: flex;
		justify-content: center;
		box-sizing: border-box;
		padding: 0;
	}

	#logo {
		height: 18%;
		width: auto;
	}

	.menuLine {
		display: none;
	}

	#theWholeThing {
		display: none;
	}

	.mobileMenu {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
	}

	.timelineItem {
		height: 30%;
	}
/********* Moments **********/

	#galleryPart {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 1em;
	}

	.imageDiv {
		width: 80%;
	}

/********* About Bobo  *********/
	#boboDescription {
		font-family: 'Finger Paint', cursive;
		font-size: 2.5rem;
		width: 100%;
		height: 60%;
		background-color: pink;
		text-align: center;
		padding-top: 0.25em;
		padding-bottom: 0.25em;

 	}

	#boboDescription h2 em {
		font-size: 5rem;
	}
}





  /*#black {
  	display: none;
  	position: absolute;
  	left: 0;
  	top: 0;
  	background-color: black;
  	height:100%;
  	min-height: 100vh;
  	width: 100%;
  }

  #black.active {
  	display: block;
  }*/

  /*the light thing*/
